<div class="container students-view">
  <span class="selected-app-name">{{user.selectedApp.name}}</span> 
  <span class="row go-icon" *ngIf="frontVisible">
    <span (click)="flip()">
      <button mat-button color="primary"><mat-icon>add</mat-icon>Add Expenses</button>
    </span>
  </span> 
  <span class="row go-icon" *ngIf="!frontVisible">
    <span (click)="flip()">
      <button mat-button color="primary">View Expenses</button>
    </span>
  </span> 
  <div class="card" [style.width.px]="data.width" [style.height.px]="data.height">
    <div class="front" *ngIf="frontVisible">
      <data-grid [(data)]="data" [fields]='fields' [selectedApp]='dataService.selectedApp.name' (ondelete)="onDelete($event)" *ngIf='callGrid'></data-grid>
    </div>
    <div class="back" *ngIf="!frontVisible">
      <add-form [fields]='fields' [(newRecord)]='newRecord' (onAdd)="addNewStudent($event)"></add-form>
    </div>
  </div>
</div>