<div class="dashboard-wrapper academics">
    <span class="selected-app-name">Academics</span> 
  <mat-grid-list cols="6" rowHeight="{{tile.rowHeight}}" gutterSize="5px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="tile.color">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let list of lists">
          <button mat-button (click)="selectedList(list)" [ngClass]="{'mat-primary' : selected === list}">{{list}}</button>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="5" [rowspan]="1" [style.background]="tile.color">
      <table style="width:100%">
        <tr>
          <td>
            <div class="button-row">
              <span style="margin-right: -5px;" *ngFor="let subject of subjects">
                <button mat-raised-button [ngClass]="{'mat-primary' : selectedS === subject}" (click)="selectedSubject(subject)">{{subject}}</button>
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <mat-tab-group dynamicHeight>
              <mat-tab label="Syllabus">
                <div class="mat-elevation-z4">
                  <table class="full-width">
                    <tr>
                      <td style="width:100px;border-right:1px solid #ccc;padding:0" [style.max-height.px]="subjects.tableHeight">
                          <mat-list role="list" [style.max-height.px]="subjects.tableHeight" style="overflow: auto;">
                              <mat-list-item role="listitem" *ngFor="let list of subject.syllabus.chapters">
                                <button mat-button (click)="selectedChapter(list)" [ngClass]="{'mat-primary' : selectedC === list}">{{list}}</button>
                              </mat-list-item>
                            </mat-list>
                      </td>
                      <td><h5>{{chapterDetails.syllabus}}</h5></td>
                    </tr>
                  </table>
                </div>
              </mat-tab>
              <mat-tab label="Assignments">
                <div class="mat-elevation-z4">
                    <table class="full-width">
                        <tr>
                          <td style="width:100px;border-right:1px solid #ccc;padding:0" [style.max-height.px]="subjects.tableHeight">
                              <mat-list role="list" [style.max-height.px]="subjects.tableHeight" style="overflow: auto;">
                                  <mat-list-item role="listitem" *ngFor="let list of subject.syllabus.chapters">
                                    <button mat-button (click)="selectedChapter(list)" [ngClass]="{'mat-primary' : selectedC === list}">{{list}}</button>
                                  </mat-list-item>
                                </mat-list>
                          </td>
                          <td><h5>{{chapterDetails.assignments}}</h5></td>
                        </tr>
                      </table> 
                </div>
              </mat-tab>
              <mat-tab label="Results">
                <div class="mat-elevation-z4">
                    <table class="full-width">
                        <tr>
                          <td style="width:100px;border-right:1px solid #ccc;padding:0" [style.max-height.px]="subjects.tableHeight">
                              <mat-list role="list" [style.max-height.px]="subjects.tableHeight" style="overflow: auto;">
                                  <mat-list-item role="listitem" *ngFor="let list of subject.syllabus.chapters">
                                    <button mat-button (click)="selectedChapter(list)" [ngClass]="{'mat-primary' : selectedC === list}">{{list}}</button>
                                  </mat-list-item>
                                </mat-list>
                          </td>
                          <td><h5>{{chapterDetails.results}}</h5></td>
                        </tr>
                      </table>
                </div>
              </mat-tab>
            </mat-tab-group>
          </td>
        </tr>
      </table>
    </mat-grid-tile>
  </mat-grid-list>
</div>