<div class="container students-view">
  <span class="selected-app-name">{{user.selectedApp.name}}</span>
  <div class="card" [style.width.px]="data.width" [style.height.px]="data.height">
    <div class="front" *ngIf="frontVisible">
      <h3 style="padding: 10px;">
        <span *ngIf="show">
          <b>Select Order ID</b>
          <mat-form-field *ngIf="show">
            <mat-select [(ngModel)]='newRecord.orderId' [(value)]='newRecord.orderId'>
              <mat-option *ngFor="let value of data.data" [value]="value">
                {{ value.id || value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)=addNewStudent(newRecord)>Cancel Order</button>
        </span>
      </h3>

    </div>
    <div class="back" *ngIf="!frontVisible">
      <add-form [fields]='fields' [(newRecord)]='newRecord' (onAdd)="addNewStudent($event)"></add-form>
    </div>
  </div>
</div>