<style>
    table tr td{
      padding: 7px
    }
  </style>
  <form class="popup-form" style='width: 100%; padding: 15px'>
    <h2>
    <table style='width: 100%;'>
      <tr>
        <td>
          <b>Student Id:</b>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <b>Student Name:</b>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <b>Date:</b>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <b>Paid Fee:</b>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <b>Hostel:</b>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <b>Transport:</b>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <b>Total Fee:</b>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <b>Due Amount:</b>
        </td>
        <td></td>
      </tr>
    </table>
  </h2>
    <!-- <div style="margin-left:30%">
      <h2>No Data To Display</h2>
    </div> -->
  </form>
  